@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&family=Quicksand:wght@300&display=swap');

body {
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    color: #000000;
    margin: 0;
    /* box-sizing: border-box; */
}

h1, h2 {
    font-family: 'Comfortaa', cursive;
    font-weight: 300;
    color: #404040
}

#bod-logo {
    float: left;
    font-size: 200%;
    margin-left: 30px;

}

#links {
    font-size: 150%;

}

#links li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#links a {
    text-decoration: none;
    color:inherit;
}

#links a:hover { 
    border-bottom: 0.5px solid #000000;

}

.active {
    border-bottom: 0.5px solid #000000;

}

#hero {
    height: 576px;
    width: 100%;
    overflow: hidden; 
    position: relative;
    
}
 #hero-img {
    height: 576px;
    width: 100%;
    filter: blur(5px);
    background: url('../images/gym-image.jpg') no-repeat center center;
}

#hero-text {
    font-family: 'Comfortaa', cursive;
    letter-spacing: 2px; 

    width: 800px;
    height: 400px;

    padding-top: 20px;
    padding-left: 10px;

    background: rgb(247, 246, 246);

    -webkit-border-radius: 0px 40px 0px 40px;
    -moz-border-radius: 0px 40px 0px 40px;
    border-radius: 0px 40px 0px 40px;
    
    
}

#hero-text {
    color: #404040;
    font-size: 28px;
    text-align: center;
    line-break: auto;
    padding: 20px;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}

#hero-text h2 {
    color: #404040;
    font-size: 28px;
    text-align: center;
    line-break: auto;
    padding: 20px;
}

