@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&family=Quicksand:wght@300&display=swap');

body {
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    color: #000000;
    margin: 0;
    /* box-sizing: border-box; */
}
h1 {
    font-family: 'Comfortaa', cursive;
    font-weight: 300;
    color:#df710b
}
h2 {
    font-family: 'Comfortaa', cursive;
    font-weight: 300;
    color: #404040
}

#bod-logo {
    float: left;
    font-size: 200%;
    margin-left: 30px;

}

#links {
    font-size: 150%;

}

#links li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#links a {
    text-decoration: none;
    color:inherit;
    padding: 0;
}

#links .nav-item a:hover { 
    border-bottom: 0.5px solid #df710b;

}

.active {
    border-bottom: 0.5px solid #df710b;

}

#hero {
    height: 576px;
    width: 100%;
    overflow: hidden; 
    position: relative;
    
}
 #hero-img {
    height: 576px;
    width: 100%;
    filter: blur(5px);
    background: url('../images/gym-image.jpg') no-repeat center center;
}

#hero-text {
    font-family: 'Comfortaa', cursive;
    letter-spacing: 2px; 

    width: calc(100vh - 100px);
    height: 400px;

    background: rgb(247, 246, 246);

    -webkit-border-radius: 0px 40px 0px 40px;
    -moz-border-radius: 0px 40px 0px 40px;
    border-radius: 0px 40px 0px 40px;
    margin:auto;

    color: #404040;
    text-align: center;
    line-break: auto;
    padding: 20px;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}

#hero-text h2 {
    color: #404040;
    text-align: center;
    line-break: auto;
    padding: 20px;
}

#hero-text-mobile {
    font-family: 'Comfortaa', cursive;
    letter-spacing: 2px; 
    padding: 20px;

    background: rgb(247, 246, 246);

    -webkit-border-radius: 0px 40px 0px 40px;
    -moz-border-radius: 0px 40px 0px 40px;
    border-radius: 0px 40px 0px 40px;
    
    
}
div h2, h4 {
    text-align: center;
}

#personal-journey {
    padding: 70px;

}

.btn-bod {
    background-color: #df710b;
    color:white;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}
.btn-bod:hover {
    background-color: #bd6615;
    color:white;
}

.parallax {
    
    background-image: url("../images/dumbbell-parallax-img.jpg");
  
    min-height: 350px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter:blur(5px)
    
  }

  #fitness-love-title {
    border-bottom: 1px solid #df710b;
      
  }
